*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
CameraSourcePreview.java
GraphicOverlay.java
FaceGraphic.java
FaceTrackerActivity.java
FaceDetectionActivity.java
activity_face_detection.xml
activity_face_tracker.xml
google-services.json